@media (min-width:768px){
    .grid3{
        display: flex;
        justify-content: space-around;
    }
    .vpy{
        width: 3rem;
    }
    .barra{
        height: 100vh;
        justify-content: flex-end;}
    .barra2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000071;
    flex-direction: row;
    }
    .fondfooter{height: 40vh;}
    .fo{padding-top: 1.4rem;}
    .fondfooter2{height: 40vh;}
    .copyri{
        display: flex;
        align-items: center;
        height: 10vh;
        background-color: #000016;
    }
    .copyri2{
        display: flex;
        align-items: center;
        height: 10vh;
        background-color: #020202;
    }
    .gridhead{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .copyri2 p{
        padding-left: 20%;
        width: 100%;
    }
    .copyri p{
        padding-left: 20%;
        width: 100%;
    }
    .columnas-4c{padding-top: 0;}
}
@media (min-width: 320px) and (max-width:767px){
    h1{font-size: 3.1rem;}
    .headColor{height: 0;}
    .navegacion{
        height: 70vh;
        background-color: transparent;
        flex-direction: row;
        align-items: flex-end ;
    }
    .musirech a{text-align: center;}
    .barra{
        height: 70vh;
        justify-content: center;
        align-items: baseline;
    }
    .grid{display: block;}
    .columnas-4c{padding-top: 0;}
    .grid2{height: 10vh;}
    .grid3{display: flex;justify-content: space-around;}
    .barra2{display: flex;flex-direction: column;}
    .navegacion2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 80vh;
    }
    .navegacion2 a{color:black;margin-bottom: 1.5rem;}
    .fondopages{height: 97vh;}
    .fondfooter{height: 40vh;}
    .fo{padding-top: 1.4rem;}
    .copyri{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        background-color: #000016;
    }
    .copyri2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        background-color: #020202;
    }
    .btndis4{ height: 10vh;}
    .btndis5{height: 10vh;}
}