/* Globals*/
.contenedor{max-width: 80%;margin: 0 auto;}
.separador{margin-top: 4.7rem;}
.text-center{text-align: center;}
.position{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
/* Header */
.headColor{background-color: #000000;}
.headColumn{
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(../img/thumb-1920-34981.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fondopages{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.199), rgba(255, 255, 255, 0.973)), url(../img/albumimg/EcosJack.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.fondfooter{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.89)), url(../img/albumimg/EcosJack.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
}
.barra{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
.navegacion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000059;
    height: 100vh;
}
.navegacion a{
    text-align:center;
    margin: 3rem 1.5rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
}
.navegacion2{display:flex;}
.navegacion2 a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}
.navegacion2 .position{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.barra2 :hover{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.navegacion :hover{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.musirech a{
    letter-spacing: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.musirech a :hover{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
/* Acaba header */
/* Otra sec */
.mot{line-height: 3;}
.iconm{width: 7.5rem;}
.White2{color:white;font-family: sans-serif;}
.letext {line-height: 1.4; font-size: 1.2rem;}
.coloretion{
    background: linear-gradient(90deg, rgb(44, 0, 48),rgb(0, 0, 20));
}
.coloretion2{
    background: linear-gradient(90deg, rgba(0, 0, 20, 0.822), rgba(0, 0, 0, 0)), url(../img/albumimg/stMU.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 33.33vh;
    min-height: 30vh;
    background-repeat: no-repeat;
}
.coloretion3{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.014), rgba(187, 24, 24, 0)), url(../img/albumimg/AlwASc.jpeg);
    max-height: 33.3vh;
    min-height: 33.3vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.coloretion4{
    background: linear-gradient(90deg, rgb(0, 0, 0),rgb(28, 0, 44));
}
/*FOOTER*/
.fot{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid2{display: flex; justify-content: center; height:15vh; align-items: center;}
.vpy{
    width: 1.5rem;
}