/* Globals*/
.contenedor{max-width: 80%;margin: 0 auto;}
.separador{margin-top: 4.7rem;}
.text-center{text-align: center;}
.position{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
/* Header */
.headColor{background-color: #000000;}
.headColumn{
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(../img/franz-still.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fondopages{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.199), rgba(255, 255, 255, 0.973)), url(../img/albumimg/EcosJack.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.fondfooter{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.89)), url(../img/albumimg/EcosJack.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
}
.fondfooter2{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.89)), url(../img/franz-still.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
}
.fondrecom{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.582)), url(../img/albumimg/motherblood.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
}
.fondrecom2{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.582)), url(../img/albumimg/max2.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
}
.fondrecom3{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.582)), url(../img/albumimg/wall.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 40vh;
}
.fondrecom4{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.582)), url(../img/albumimg/cosas.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 40vh;
}
.fondrecom5{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.582)), url(../img/albumimg/creativo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}
.recom h3{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}
.recom2 h3{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    color:white;
}
.barra{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
.navegacion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000059;
    height: 100vh;
}
.navegacion a{
    text-align:center;
    margin: 3rem 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
}
.navegacion2{display:flex;}
.navegacion2 a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}
.navegacion2 .position{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.barra2 :hover{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.navegacion :hover{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.musirech a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.musirech a :hover{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
/* Acaba header */
/* Otra sec */
.mot{line-height: 3;}
.iconm{width: 7.5rem;}
.White2{color:white;font-family: sans-serif;}
.letext {line-height: 1.4; font-size: 1.2rem;}
.coloretion{
    background: linear-gradient(90deg, rgb(44, 0, 48),rgb(0, 0, 20));
}
.coloretion2{
    background: linear-gradient(90deg, rgba(0, 0, 20, 0.822), rgba(0, 0, 0, 0)), url(../img/albumimg/stMU.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 33.33vh;
    min-height: 30vh;
    background-repeat: no-repeat;
}
.coloretion3{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.014), rgba(187, 24, 24, 0)), url(../img/albumimg/AlwASc.jpeg);
    max-height: 33.3vh;
    min-height: 33.3vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.coloretion4{
    background: linear-gradient(90deg, rgb(0, 0, 0),rgb(28, 0, 44));
}
/*FOOTER*/
.fot{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid2{display: flex; justify-content: center; height:15vh; align-items: center;}
.vpy{
    width: 1.5rem;
}
.repro{ background-color: #04040f9d;}
.imglist{width: 12.5vh; margin-bottom: 1rem;}
.iconlist{width: 5vh;}
.septi{color:black}
.artist a{color:#46004e; font-size: 0.9rem;}
a{text-decoration:none;}
.btndis{ 
padding: 1rem 2.5rem; 
background-color:rgba(255, 0, 0, 0.089);
font-size: 1.25rem;
transition: background-color .5s;
color:white;}
.btndis:hover{
background-color: #a00000a6;
}
.btndis2{ 
    padding: 1rem 2.5rem; 
    background-color:rgba(0, 0, 0, 0.822);
    font-size: 1.25rem;
    transition: background-color .5s;
    color: white;
}
.btndis2:hover{
    background-color: #fafafa;
    color: black;
}
.btndis4{ 
    width: 100%;height: 40vh;
    display: flex;
    justify-content: center;align-items: center;
    background-color:rgba(0, 0, 0, 0.897);
    font-size: 1.25rem;
    font-weight: 600;
    transition: background-color .5s;
    color: #1b7ccc;
}
.btndis4:hover{
    background-color: #c0c0c0;
}
.btndis5{
    width: 100%;height: 40vh;
    display: flex;
    justify-content: center;align-items: center;
    background-color:rgb(87, 15, 15);
    font-weight: 600;
    font-size: 1.25rem;
    transition: background-color .5s;
    color:white;}
    .btndis5:hover{
    background-color: #a3a2a2d8;
    color:black;
    }